<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">	

<suite thread-count="1" verbose="1" name="My Suite" annotations="JDK" parallel="tests">
         
  <test name="MyTest">
     <classes>
       <class name="com.practice.tests.Assignment1"/>
       <class name="com.practice.tests.Assignment2"/>
     </classes>
   </test>
</suite>